@using Chearn.Models

@model Chearn.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>


<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Google Registration Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-6 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-6 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DoB, new { @class = "col-md-6 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.DoB, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>User Type</label>
            @Html.DropDownListFor(m => m.UserType, new SelectList(Enum.GetValues(typeof(UserType))), new { @class = "form-control", id = "userType" })

        </div>
        <div class="form-group" id="yearsOfEducationForm" style="visibility:hidden">
            @Html.LabelFor(m => m.YearsOfEducation, new { @class = "col-md-7 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.YearsOfEducation, new { @class = "form-control", id = "yearsOfEducation" })
            </div>
        </div>
        <div class="form-group row" id="hasDoctorateForm" style="visibility:hidden">
            <label class="col-md-8">Check this box if you have a doctorate </label>
            @Html.CheckBoxFor(m => m.HasDoctorate, new { @class = "form-control col-sm" })

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id='btnRegister' type="submit" class="btn btn-outline-secondary" value="Register" />
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/PageLogic/Register.js")

}
